@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Noto+Sans+JP:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    background-color: rgba(105, 26, 121, 0.692);
}

body{
    background-color: #fff;
}

h1{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    letter-spacing: -0.2px;
    color: #e3e3e3;
    font-weight: 700;
    font-style: italic;
    font-variant: normal;
    text-transform: uppercase;
}

h2{
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    letter-spacing: -0.2px;
    color: #ffbb00;
    font-weight: 700;
    font-style: italic;
    font-variant: normal;
    text-transform: uppercase;
}


td img{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    border: 5px solid red;
}

.contenedor_table2{
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 50%;
    margin-top: -300px;
 }

 .logo{
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 50%;
    margin-top: -300px;
 }